@import "tailwindcss";

@theme {
    /* Khai báo bảng màu Custom từ dự án EpicCV */
    --color-primary: #0061a5;
    --color-on-primary: #ffffff;
    --color-primary-container: #0d99ff;
    --color-on-primary-container: #002f55;
    --color-secondary: #4b41e1;
    --color-secondary-container: #645efb;
    --color-surface: #f8f9ff;
    --color-on-surface: #0b1c30;
    --color-surface-variant: #d3e4fe;
    --color-on-surface-variant: #3f4753;
    --color-background: #f8f9ff;
    --color-on-background: #0b1c30;
    --color-outline: #707884;
    --color-outline-variant: #bfc7d5;
    --color-tertiary: #6d3bd7;
    --color-tertiary-container: #a47eff;
    --color-surface-container-low: #eff4ff;
    --color-surface-container-lowest: #ffffff;
    --color-primary-fixed: #d2e4ff;

    /* Font Family */
    --font-body: "Inter", sans-serif;
}

/* Custom class cho hiệu ứng kính (Glassmorphism) mà mentor yêu cầu */
.glass-panel {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
}